<h1><%= error.status %>: <%= message %></h1>
<% if (error.status === 400) { %>
  <pre><%= JSON.stringify(error.errors, null, 2) %></pre>
<% } %>
<% if (process.env.NODE_ENV === 'development') { %>
  <pre><%= error.stack %></pre>
<% } %>